aiohttp==3.10.5
backports.statistics==0.1.0
beautifulsoup4==4.12.3
Cython==3.0.11
dl==0.1.0
Flask==3.0.3
ipaddr==2.2.0
keyring==25.3.0
mypy_extensions==1.0.0
numpy==2.1.0
ordereddict==1.1
typing_extensions==4.12.2
wincertstore==0.2.1
