.fridge_container {
    border: solid 2px red;
    width :80%;
    margin-left: 60%;
    position: absolute;
    overflow: visible;
    
    
}

@keyframes rotate{
    0%  {transform: rotateY(0deg);}
    25% { transform: scaleX(-1);}
    75% {transform: scaleX(1);}
    100% {}
}


#frigo { 
    animation: fly 5s ease infinite;
}

#porte{
    transform-origin: center center;
    transition: transform 1s ;
    backface-visibility: hidden;
    animation: rotate 10s linear infinite;
    /*transform: rotateY(-60deg) translate3d(450px, 0, 0);*/
    /*transform: rotateY(-90deg) translate3d(0, 0, 0); */
}

#porte:hover {
    transform: rotateY(90deg);
}
#tiroir_bas:hover {
    transform: translate3d(50px, 25px, 0);
}

#tiroir_haut:hover {
    transform: translate3d(50px, 50px, 0);
}

#poignet_porte:hover {
    transform: scale(1.005);
}

#tiroir_bas {
    z-index: 1;
}

@keyframes fly{
    0%  {transform: translateY(7px);}
    50% {transform: translateY(-14px);}
    100% {transform: translateY(7px);}
}