
.ingredient-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredient-item:hover {
    scale:1.2;
}

.ingredient-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1vh;
    padding-left: 0vw;
    gap: 10px;
}

.ingredient-button {
    width: 3vw;
}
/* Scope large span sizing to ingredient labels only to avoid global enlargement */
.ingredient-item > span {
    font-size:1.25rem;
}


/* Scope image styling to ingredient images to avoid affecting all images */
.ingredient-item img {
    border-style: dashed;
    border-color: #df3713;
    border-radius: 60%;
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: center;
}



